services:
  - type: web
    name: beyondchats-api
    runtime: php
    plan: free
    buildCommand: composer install --no-dev --optimize-autoloader && php artisan optimize
    startCommand: php -S 0.0.0.0:$PORT -t public
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        generateValue: true
      - key: DB_CONNECTION
        value: sqlite
      - key: DB_DATABASE
        value: /opt/render/project/src/database/database.sqlite